.idea
*pyc

data/*cache
data/*txt
data/*gz
data/embeddings/*gz
data/embeddings/*txt
data/embeddings/*bz2
data/raw/*xml

# Uncompressed embeddings and cache
data/embeddings/*.txt
data/embeddings/*.cache

*.npz
*.npz.json

.venv

